.container{
  display: flex;
  row-gap: 2%;
  flex-direction: column;
  align-items: center;
  h1 {
    text-align: center;
    color: #23c423;
  }
  td {
    width: 100px;
    height: 100px;
    cursor: pointer;

  
  }

.x{
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-image: url("/assets/images/x_value.png");
    
    background-size: contain;
}

.o{
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-image: url("/assets/images/o_value.png");
    
    background-size: contain;
}
  table {
    margin: 5px auto;
  }
  .vert {
    border-left: 2px solid black;
    border-right: 2px solid black;
  }
  .hori {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }

  .reset_button{
     width: 100px;
     background-color: #23c423;
     -webkit-transition: background-color 0.2s ease-out;
     border: none;
   
     
     color: white;
     padding: 0.6em 1.2em;
     text-align: center;
     text-justify: center;
     text-decoration: none;
     display: inline-block;
     font-size: 1em;
     margin-right: 1em;
     cursor: pointer;
 
     &:hover{
         background-color: #717972;
     }

  }
}
